.images {

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        &:after {
            content: "";
            width: 32%;
            flex-grow: 0;

            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    &__item {
        width: 32%;
        margin: 0 15px 30px 0;

        @media (max-width: 767px) {
            width: 100%;
            margin: 0 auto 30px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}
