<div class="container">
    <h2 class="sub-title text-center">Images</h2>

    <div class="images__list">
        <div class="images__item card"
             *ngFor="let image of images"
             [ngStyle]="{'background-image': 'url('+ image.img+')'}"
             tooltip="{{image.description}}" placement="top">
            <div class="card__actions">
                <button mat-icon-button color="accent" [routerLink]="['edit', image.id]">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="delete(image.id)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>
