<div class="container images-add">
    <div class="images-add__content">
        <div>
            <h2 class="sub-title">Add image</h2>
            <div class="form">
                <div class="form__item" (change)=fileEvent($event)>
                    <label for="file" class="label"></label>
                    <input id="file" [(ngModel)]="form.file" type="file" accept="image/*"/>
                </div>

                <div class="form__item">
                    <mat-form-field>
                        <input type="text" matInput [(ngModel)]="form.description" placeholder="Description"/>
                    </mat-form-field>
                </div>

                <button mat-stroked-button (click)="createImage()">Save</button>
            </div>
        </div>

        <div>
            <h2 class="sub-title">Preview</h2>
            <div class="images__item card"
                 [ngStyle]="{'background-image': 'url('+ form.img+')'}"
                 tooltip="{{form.description}}" placement="top">
            </div>
        </div>
    </div>

</div>
