.images-add {

    &__content {
        display: flex;

        & > div {
            width: 50%;

            @media (max-width: 767px) {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .form {
        width: 300px;
        max-width: 300px;

        &__item {
            width: 100%;
            margin-bottom: 20px;

            .mat-form-field {
                width: 100%;
            }
        }
    }
}


