<header class="header">
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a class="header__nav-btn" mat-raised-button routerLink="/">All images</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-btn" mat-stroked-button routerLink="/create">Create new image</a>
            </li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>
