.header {
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-bottom: 30px;

    &__nav {
        padding: 15px 20px;
    }

    &__nav-list {
        margin: 0;
        padding: 0;
    }

    &__nav-item {
        display: inline-block;

        + .header__nav-item{
            margin-left: 15px;
        }
    }
}
