@import '~normalize-css/normalize.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.sub-title {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.container {
    padding: 0 15px;
    box-sizing: border-box;
}

.card {
    height: 280px;
    width: 300px;
    max-width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &__actions {
        background: #FFF;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

.tooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;

    &:after {
        content: "";
        position: absolute;
        border-style: solid;
    }

    &--top {

        &:after {
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-color: black transparent transparent transparent;
        }
    }

    &--bottom {

        &:after {
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-color: transparent transparent black transparent;
        }
    }

    &--left {

        &:after {
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-color: transparent transparent transparent black;
        }
    }

    &--right {

        &:after {
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-color: transparent black transparent transparent;
        }
    }

    &--show {
        opacity: 1;
    }
}
